.box1{
    width: 100%;
     height: 1000px;
     background-color: #eaeaf4;
     border: 2px;
     float: left;
 }
 .rightnav{
     float:right;
    
 }
 .rightnav>p{
    text-align:center;
 }
 #img_1{
     width: 150px;
     height: 30px;
     margin-left: 20px;
     margin-top: 20px;
 }